@import "styles/variables";
@import "styles/mixins/respond-to";
@import "styles/mixins/px-to-rem";

.root {
  margin-top: $navbar-mobile-height;
  height: calc(100vh - $navbar-mobile-height);
  width: 100vw;
  background-image: url("../../public/background.png");
  background-size: cover;

  @include respond-to("md") {
    margin-top: $navbar-desktop-height;
    height: calc(100vh - $navbar-desktop-height);
  }

  .title {
    font-family: Futuro;
    font-size: px-to-rem(28px);
    color: $med-green;
    text-align: center;
    font-weight: 400;
    width: 100%;
    padding: 142px 22px 0;

    @include respond-to("md") {
      font-size: px-to-rem(56px);
      width: 80%;
      margin: 0 auto;
      padding: 230px 0 0;
    }
  }
}
