.imagecontainer {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
}
.imagesubcont {
  position: relative;
  width: 33vw;
  height: 100%;
}

.image {
  position: relative;
  height: 80vh;
  width: 33vw;
  object-fit: cover;
}
@media screen and (max-width: 992px) {
  .imagesubcont {
    width: 50vw;
    min-width: 50vw;
    height: 50vw;
  }
  .image {
    width: 50vw;
    min-width: 50vw;
    height: 50vw;
  }
}
