.imagecontainer {
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 50vh;
}
.imagesubcont {
  position: relative;
  width: 33.33vw;
  height: 100%;
  min-height:50vh;
}
.imagesubcont2 {
  position: relative;
  width: 33.33vw;
  height: 100%;
  min-height:50vh;
}
.image {
  position: relative;
  height: 80vh;
  width: 33vw;
  object-fit: cover;
}
.image2 {
  position: relative;
  height: 80vh;
  width: 33vw;
  object-fit: cover;
}
@media screen and (max-width: 992px) {
  .imagesubcont {
    width: 50vw;
    min-width: 50vw;
    height: 50vw;
  }
  .imagesubcont2 {
    width: 100vw;
    min-width: 100vw;
    height: 50vw;
  }
  .image {
    width: 50vw;
    min-width: 50vw;
    height: 50vw;
  }
  .image2 {
    width: 100vw;
    min-width: 100vw;
    height: 50vw;
  }
}
