/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */
.signupcontainer {
  width: 100vw;
  height: 60vh;
  background-image: url("../../../public/signup.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur {
  max-height: 30vh;
  height:300px;
  width: 50vw;
  background-color: rgba(71, 7, 53, 0.2);
  background-blend-mode: multiply;
  border: 5px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  backdrop-filter: blur(20px);

  /* Note: backdrop-filter has minimal browser support */
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  overflow: visible;
}

.titlecontainer {
  min-height: 40%;
}

.emailcontainer {
  min-height: 54px;
  min-width:33vw;
}
.title {
  font-family: Futuro;
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
}

.subtitle {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */
  text-align: center;
  color: #ffffff;
}

.emailinputcontainer {
  /* padding: 15px 250px 15px 24px; */

  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid #ffffff;
  backdrop-filter: blur(14px);

  /* Note: backdrop-filter has minimal browser support */
  border-radius: 100px;
  width: 50%;
  margin-left: 20%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.icon{
  margin-right:10px;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  min-width: 80%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  outline: none;
  color: black;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
}

@media screen and (max-width: 992px) {
  .blur {
    width: 90vw;
  }
  .emailinputcontainer {
    width: 90%;
    margin-left: 5%;
    margin-top:70px;
  }
  .emailcontainer{
    min-height:100px
  }
  .subtitle{
    margin-bottom:30px;
  }
}
