@import "styles/variables";
@import "styles/mixins/respond-to";
@import "styles/mixins/px-to-rem";

.root {
  width: 100%;

  .powered-by-container {
    padding: 32px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include respond-to("md") {
      flex-direction: row;
    }
  }

  .powered-by {
    font-family: Futuro;
    font-style: normal;
    font-weight: 400;
    font-size: px-to-rem(26px);
  }

  .image-wrapper {
    padding-top: 15px;

    @include respond-to("md") {
      padding-top: 0;
      padding-left: 40px;
    }
  }

  .footer {
    display: flex;
    padding: 32px 24px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    color: $black;

    @include respond-to("sm") {
      flex-direction: row;
    }

    @include respond-to("lg") {
      max-width: 1195px;
      padding: 32px 0;
    }

    .terms-and-conditions {
      font-weight: 300;
      font-size: 17px;
      text-align: center;
      margin-bottom: 20px;

      @include respond-to("sm") {
        margin-bottom: 0;
      }
    }

    .links {
      font-weight: 300;
      font-size: 17px;
      text-align: center;
    }

    .link {
      padding-left: 5px;
      padding-right: 5px;
      transition: color $transition-duration $transition-func;

      &:hover {
        color: $green;
      }
    }
  }
}
