.container {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100vw;
  display: flex;
  background-color: white;
  padding-top:10px;
  padding-bottom:10px;
  /* padding-top: 10px; */
}

.mobilelink {
  font-family: Futuro;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-left: 10px;
}

.imagecontainer {
  position: relative;
  width: 55vw;
  height: 100%;
}

.image {
  position: relative;
  height: 100%;
  width: 22.5vw;
  object-fit: cover;
}

.whitepapercontainer {
  position: relative;
  width: 22.5vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whitepaperimage {
  position: relative;
  height: 50px;
  width: 45px;
}

@media screen and (max-width: 992px) {
  .container {
    z-index: 20;
  }
}
